<div class="offset-sm-4 col-auto mr-auto custom">
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>LOGIN</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal"  (ngSubmit)="guardar()" autocomplete="off" [formGroup]="formLogin">
            <div class="form-inline">
                <div class="form-group row">
                    <label  class="label col-sm-2 form-control-label">Usuario</label>
                    <div class="col-sm-9">
                      <input nbInput fullWidth formControlName="User" placeholder="Usuario">
                      <span class="form-text text-danger"
                          *ngIf="campoEsValido('User')"> 
                          El campo es obligatorio
                      </span>
                    </div>
                  </div>
            </div>
            <div class="form-inline">
                <div class="form-group row">
                    <label class="label col-sm-2 form-control-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" nbInput fullWidth formControlName="Password" placeholder="Password">
                      <span class="form-text text-danger"
                          *ngIf="campoEsValido('Password')"> 
                          El campo es obligatorio
                      </span>
                    </div>
                  </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="offset-sm-3 col-auto mr-auto">
                  <button type="submit" nbButton status="info">INGRESAR</button>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
